body {
    font-family: 'Marvel', sans-serif;
}

.navFont {
    background-color: #ed171e;
}

.navFontmd {
    background-color: #ed171e;
    height: 3rem;
}

.widthLogolg {
    width: 10rem;
    height: auto;
}

.widthLogomd {
    width: 7rem;
    height: auto;
}

.test {
    border: 3px solid #ed171e;
}

.btn {
    background-color: #ed171e;
}

.centerText {
    vertical-align: middle;
}